.register{
    margin-top: 10%;
}

.prosto-flex{
    display: flex;
}


.router-flex{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 10px;
    text-align: center;
    height: 90px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 50px;
    background-color: white;
    width: 100%;
}

.item{
background-color: rgba(0,0,0,0);
}



a{
    text-decoration: none;
}

.p1{
    line-height: 70px;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
}

.p2{
    line-height: 35px;
}

.router-flex li{
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.router-flex a{
    text-decoration: none;
    color: black;
}

.router-flex a:hover{
    text-decoration: none;
    color: blue;
}

.item{
    position: absolute;
}

.item img{
    opacity: 0.6;
}

.carousel-caption h3{
    color: black;
    font-size: 60px;
    font-weight: 900;
    position: relative;
    top: -330px;
}

.carousel-caption p{
    color: black;
    font-size: 26px;
    font-weight: 600;
}

.sign1{
    margin-right: -30px;
}

.pa{
    line-height: 35px;
}

.sign-right{
    margin-right: 40px;
    display: flex;
}

.map{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.header{
    color: red;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 25px;
}

.content-photo img{
    width: 500px;
    height: 350px;
    border: 3px solid red;
}

.vistavki-flex{
    display: flex;
    margin-left: 50px;
}

.content{
    margin-left: 100px;
    margin-right: 50px;
}

.content-header{
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 15px;
}

.vistavki-content-location{
    padding-bottom: 15px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0; bottom: 0;
}

.home-vistavka{
    text-align: center;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.best-trener{
    background-color: rgb(209, 202, 202);
    margin-bottom: 15px;
}

.first-vistavka{
    background-color: rgb(221, 217, 217);
    margin-top: -25px;
}

.best-trener{
    margin-top: -25px;
}

.photo1{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.home-vistavka-text{
    margin-top: 75px;
}

.home-vistavka{
    padding-top: 35px;  
}

.home-flex{
    display: flex;
    margin-left: 100px;
}

.vistavki-content-header{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}

.home-trener-margin{
    margin-left: 200px;
}

.home-vistavka-text{
    text-align: center;
    font-size: 18px;
}

.content{
    margin-bottom: 50px;
}

.content-flex{
    display: flex;
}

.content-text{
    margin-left: 100px;
    margin-right: 50px;
}

.register-photo{
    text-align: center;
}

.register-flex{
    display: flex;
    font-size: 30px;
    font-weight: 600;
}

.form{
    margin-bottom: 50px;
    margin-left: 100px;
}

.reg{
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

.form-bc{
    background-color: lightblue;
    padding: 15px;
}

/*Кнопки реєстрації*/

.button{
    border: 3px solid #218294;
    color: #218294;
    text-decoration: none;
    text-transform: uppercase;
    width: 400px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
}

.button::before,
.button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #218294;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.button::after{
    opacity: 1;
    transition-delay: .2s;
}

.button:hover{
    color: #fff;
}

.button:hover::before,
.button:hover::after {
    left: 0;
}

.but1{
    margin-bottom: 25px;
}

/*Кнопки реєстрації*/


/*Кнопка виклику*/

#popup__toggle{bottom:25px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#29AEE3;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #29AEE3;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#29AEE3;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(../src/img/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

  .circlephone{
    transform-origin: center;
  }

  .circle-fill{
    transform-origin: center;
  }

  .img-circle{
    transform-origin: center;
  }

  .img-circleblock{
    transform-origin: center;
  }

  /*Кнопка виклику*/


.content-text-trener{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

body{
    background:#FE1392;
font-family: 'Barlow Semi Condensed', sans-serif;
}

/*РЕЙТИНГ ТРЕНЕРА*/
.rating-card{
padding:10px;
background-color:#F5F5F5;
width:100%;
height: 60%;
border-radius:10px;
text-align: center;
margin: 0 auto;
margin-top:30px;
box-shadow: 2px 2px 18px -2px #337AB7;
padding-bottom: 25px;
}
.fa-star,.fa-star-o{
color:orange;
}
.rating-card h1{
color:#337AB7;
margin-bottom:30px;
}
.rating{
width: 50%;
float:left;
}
.rating p{
margin-top:10px;
font-size: 20px;
}
.rating h2{
margin:0px;
font-size:60px;
font-weight: normal;
}
.rating-process{
width: 50%;
text-align: left;
float:right;
}
.rating-right-part{
margin-bottom:3px;
}
.rating-right-part p{
margin:0px;
}
.progress-1,
.progress-2,
.progress-3,
.progress-4,
.progress-5{
background:#c2c2c2;
border-radius: 13px;
height:18px;
width:70%;
padding:3px;
margin:-20px 0px 0px 50px;
margin-left: 70px;
display: block;
}
.progress-1:after,
.progress-2:after,
.progress-3:after,
.progress-4:after,
.progress-5:after{
content: '';
display: block;
background: #337AB7;
width:80%;
height: 100%;
border-radius: 9px;
}
.progress-2:after{
width: 60%;
}
.progress-3:after{
width:40%;
}
.progress-4:after{
width:20%;
}
.progress-5:after{
width:10%;
}
@media (min-width:320px) and (max-width:640px){
.rating{
    width: 100%;
}
.rating-process{
    width:100%;
}	
}

.cb{
    clear: both;
}

/*РЕЙТИНГ ТРЕНЕРА*/


.peretrimka-location img{
    max-width: 857px;
    max-height: 529px;
    width: 65%;
    height: 65%;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 100px;
}

.peretrimka-location{
    margin-bottom: -28px;
}

.peretrimka-top{
    margin-top: -10px;
}

.content-photo-packets img{
    width: 400px;
    height: 480px;
    border: 3px solid red;
    margin-left: 100px;
}

.checkman img{
    margin-left: 150px;
    margin-top: 5px;
}

.content-packets-info{
    font-size: 18px;
}

.content-photo-hospital img{
    border: 3px solid red;
    width: 500px;
    height: 350px;
    margin-left: 100px;
}

.content-header-hospital{
    font-size: 30px;
    font-weight: 600;
}

.content-info-hospital{
    margin-left: 100px;
    margin-right: 50px;
}

.content-header-hospital{
    margin-left: 100px;
    margin-right: 50px;
}

.hospital-header-ul{
    font-size: 18px;
}

.hospital-margin{
    margin-bottom: 50px;
}

.carousel-inner{
    margin-top: -90px;
}


.item img{
    height: 801px;
    width: 1700px;
}

.club-photo{
    width: 500px;
    height: 370px;
    border: 3px solid red;
    text-align: center;
    margin-left: 100px;
}

.club-content-header{
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ul-club{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.form{
    margin-top: 15px;
    text-align: center;
    margin-top: -325px;
}

.club-photo{
    margin-left: auto;
    margin-right: auto;
}

.register{
    margin-left: 20%;
}

.home-partner{
    
    text-align: center;
}

.home-partner img{
    width: 400px;
    height: 400px;
}

.home-partner p{
    font-size: 55px;
    margin-left: 15px;
}

.best-trener{
    margin-bottom: -10px;
}

.form-1{
    margin-left: 37%;
}

.social{
    display: flex;
}

.social img{
    margin-top: 15px;
    margin-right: 10px;
}

details{
    font-size: 30px;
}


